.App {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  background-image: url('../images/cartoony-field.png');
  color: #2B2D42;
	height: 810px;
	width: 100%;
	overflow: hidden;
}

.cloud-one {
  position: relative;
  left: -400px;
  top: 10vh;
	animation: animatedCloud 40s linear infinite;
	overflow: hidden;
	z-index: 2;
}

@keyframes animatedCloud {
	from { left: -200px; }
	to { left: 100%; }
}

.header {
	background-color: #72788D;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 3;
}

