.App {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  background-image: url('../images/cartoony-field.png');
  color: #F7FFF7;
	height: 820px;
	width: 100%;
	overflow: hidden;
}

.cloud-one {
	  position: relative;
    left: -200px;
    top: 10vh;
	animation: animatedCloud 60s linear infinite;
	overflow: hidden;
	z-index: 1;
}

@keyframes animatedCloud {
	from { left: -200px; }
	to { left: 100%; }
}



