@import'./_variables.scss';

.header {
	display: flex;
}

.clearAll,
.restart {
	background-color: $light-color;
	border-radius: 20px;
	font-weight: bold;
	height: 30px;
	margin: 15px;
}

.clearAll:hover {
		background-image: linear-gradient(red, yellow);
		height: 35px;
}

.restart:hover {
		background-image: linear-gradient(green, yellow);
		height: 35px;
}

.unicorn-count {
	color: $card-font;
	font-size: x-large;
	font-family: Gill Sans Extrabold, sans-serif;
}