.start-holder {
	background-color: #72788D;
	box-shadow: 1px 1px 1px #121619;
	border-radius: 7px;
	color: #121619;
	width: 320px;
	height: 130px;
	margin: 10px auto;
	padding: 5px;
	display: absolute;
	z-index: 10;
}

.choose-level-btn {
	border-radius: 20px;
	background-color: #D8DBE2;
	box-shadow: .5px .5px .5px #121619;
	display: block;
	margin: 15px auto;
	height: 35px;
	width: 100px;
}

.choose-level-btn:hover {
	background-image: linear-gradient(red, yellow, green, blue, purple);
	color: #F7FFF7;
	border: 0;
}