
.title {
	margin: 0 auto;
	padding: 10px;
	font-family: 'Trocchi', serif; 
	font-size: 50px; 
	font-weight: normal; 
	line-height: 48px; 
	position: relative;
	z-index: 2;
}

.description {
	margin-top: 5px;
	margin-bottom: 25px;
}