.top-of-page {
	background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-tech-blu-ray-unicorn-minimalist-background-lightearthirregular-linessimple-image_57955.jpg');
	color: #F7FFF7;
	
	height: 500px;
	width: 100%;
}

.title {
	margin: 0 auto;
	padding: 10px;
	font-family: 'Trocchi', serif; 
	font-size: 50px; 
	font-weight: normal; 
	line-height: 48px; 
}