.top-of-page {
	background-image: url('https://www.maxpixel.net/static/photo/2x/Technology-Motion-Energy-Background-Wave-Power-3357613.jpg');
	color: #F7FFF7;
	
	height: 500px;
	width: 100%;
}

.title {
	margin: 0 auto;
	font-size: 40px;
	font-family: 'Trocchi', serif;
}